body{
	width:90%;
	margin: 2em auto;
}

.header, .footer, .content, .menu { 
	margin: 1em auto;
	border: 0.01em solid #aaa;
	border-radius: 1em;
	padding: 1em;
	background: #f5f5f5;
    box-shadow: 0.2em 0.2em 0.4em #ccc;
}

.content {
  text-align: center;
}

.column {
  margin: 1em auto;
  min-width: 200px;
  padding: 1em;
  border: 3px solid black;
  border-radius: 20px;
  min-height:400px;
  max-height:400px;
  overflow-y:auto;
}

.colHead {
  display: inline-block;
  margin-top: 10px;
}

.visit {
  display: flex;
	margin: 1em auto;
	width: 400px;
	padding: 20px;
	border-radius: 1em;
	background: #6495ED;
  word-wrap: break-word;
}

.visit textarea {
	width: 300px;
	resize: none;
}

.visit_area1 {
  width: auto;
  margin: auto;
	padding: 1em;
  text-align: center;
	overflow: hidden;
  word-wrap: break-word;
}

.visit_area2 {
	padding: 1em auto;
  text-align: center;
}

.login {
	margin: 1em auto;
	width: 35%; 
	border: 0.01em solid #aaa;
	border-radius: 1em;
	padding: 1em;
	background: #f5f5f5;
    box-shadow: 0.2em 0.2em 0.4em #ccc;
}


.menuButton {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
}

.menuButton:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.menuButton:main,
.menuButton:focus {
  user-select: auto;
}

.menuButton:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.menuButton:disabled {
  cursor: auto;
}

.menuButton:active {
  border-width: 4px 0 0;
  background: none;
}

.tab {
  display: inline-block;
  margin-left: 20px;
}

.header, .footer, .menu, .login{ 
	text-align: center;
}

.messages {	margin: 1em auto; }

.err, .inf, .res {
	padding: 1em 1em 1em 3em;
	border-radius: 1em;
	color: #222;
}

.err { background-color: #f88; }
.inf { background-color: #8f8; }
.res { background-color: #ff0; }